<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="u.derma.dao.WeixinPrizeInfoMapper" >
  <resultMap id="WeixinPrizeInfo" type="u.derma.model.WeixinPrizeInfo">
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="winnerNickname" property="winnerNickname" jdbcType="VARCHAR" />
    <result column="prizeGoodsStatus" property="prizeGoodsStatus" jdbcType="DECIMAL" />
    <result column="prizeGoodsName" property="prizeGoodsName" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="winningTime" property="winningTime" jdbcType="DATE" />
    
  </resultMap>
  
  <!-- 通过用户id获取中奖信息 -->
  <select id="selectByOpenid" resultMap="WeixinPrizeInfo" parameterType="java.lang.String" >
    select *
    from weixin_prize_info
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
 
  
  <!-- 插入新的中奖信息 -->
  <insert id="insert" parameterType="u.derma.model.WeixinPrizeInfo" >
    insert into weixin_prize_info
    values (#{id,jdbcType=VARCHAR}, #{winnerNickname,jdbcType=VARCHAR}, #{prizeGoodsStatus,jdbcType=DECIMAL}, #{prizeGoodsName,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{winningTime,jdbcType=DATE})
  </insert>
  
  <!-- 获取所有的中奖信息 -->
  <select id="getAll" resultMap="WeixinPrizeInfo">
	select * from weixin_prize_info
  </select>
  
  <!-- 查询最近5条数据 -->
  <select id="getRecentPrizeUser" resultMap="WeixinPrizeInfo">
  	select * from weixin_prize_info order by winningTime desc limit 0,5;
  </select>
</mapper>