<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="u.derma.dao.WeixinUserMapper">
	<resultMap type="u.derma.model.WeixinUser" id="WeixinUserMap">
		<id column="openid" property="openid" jdbcType="VARCHAR" />
		<result column="lotterynumber" property="lotterynumber" jdbcType="DECIMAL" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="DECIMAL" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="country" property="country" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="createDate" property="createDate" jdbcType="DATE" />
	</resultMap>


	<select id="selectByOpenid" resultType="u.derma.model.WeixinUser"
		parameterType="java.lang.String">
		select * from weixin_user where openid = #{openid}
	</select>


	<!-- 插入新的用户 -->
	<insert id="insert" parameterType="u.derma.model.WeixinUser">
		insert into weixin_user (openid, lotterynumber, nickname, sex, city,
		country, province, createDate)
		values (#{openid,jdbcType=VARCHAR}, #{lotterynumber,jdbcType=DECIMAL}, #{nickname,jdbcType=VARCHAR}, #{sex,jdbcType=DECIMAL}, #{city,jdbcType=VARCHAR},
		#{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{createDate, jdbcType=DATE})
	</insert>


	<!-- 减少指定用户抽奖次数 -->
	<update id="minusLotteryNumber" parameterType="java.lang.String">
		update weixin_user set lotterynumber = lotterynumber-1
		where openid = #{openid}
	</update>

	<!-- 增加指定用户抽奖次数 -->
	<update id="addLotteryNumber" parameterType="java.lang.String">
		update weixin_user set lotterynumber = lotterynumber+1
		where openid = #{openid}
	</update>

	<select id="getAll" resultMap="WeixinUserMap">
		select * from weixin_user
	</select>
</mapper>