<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="u.derma.dao.WeixinGoodsMapper" >
  <resultMap id="WeixinGoods" type="u.derma.model.WeixinGoods" >
    <id column="prizeGoodsId" property="prizeGoodsId" jdbcType="DECIMAL" />
    <result column="prizeAlias" property="prizeAlias" jdbcType="VARCHAR" />
    <result column="prizeGoodsNumber" property="prizeGoodsNumber" jdbcType="DECIMAL"/>
  </resultMap>
  <sql id="weixingoods_Column_List" >
    prizeGoodsId, prizeAlias, prizeGoodsNumber
  </sql>
  
  <!-- 通过奖品Id获取指定的奖品对象 -->
  <select id="selectByGoodsId" resultMap="WeixinGoods" parameterType="java.lang.Integer" >
    select 
    <include refid="weixingoods_Column_List" />
    from weixin_goods
    where prizeGoodsId = #{prizeGoodsId,jdbcType=DECIMAL}
  </select>
 
  
  <!-- 插入新的奖品 -->
  <insert id="insert" parameterType="u.derma.model.WeixinGoods" useGeneratedKeys="true" keyProperty="prizeGoodsId">
    insert into weixin_goods(prizeAlias, prizeGoodsNumber)
    values (#{prizeAlias,jdbcType=VARCHAR}, #{prizeGoodsNumber,jdbcType=DECIMAL})
  </insert>
  
  <!--删除奖品 -->
  <update id="deletePrizeGoodsById" parameterType="java.lang.Integer">
  	delete from weixin_goods
	    where prizeGoodsId = #{prizeGoodsId,jdbcType=DECIMAL}
  </update>
  
  
  <select id="getAll" resultMap="WeixinGoods">
	select * from weixin_goods
  </select>
</mapper>