<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="u.derma.dao.WeixinUserMapper" >
  <resultMap id="WeixinUser" type="u.derma.model.WeixinUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="lotterynumber" property="lotterynumber" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="weixinuser_Column_List" >
    id, userid, lotterynumber
  </sql>
  
  <select id="selectByUserid" resultMap="WeixinUser" parameterType="java.lang.String" >
    select 
    <include refid="weixinuser_Column_List" />
    from weixin_user
    where userid = #{userid,jdbcType=VARCHAR}
  </select>
 
 <!--  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from muser
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
 -->
  
  <!-- 插入新的用户 -->
  <insert id="insert" parameterType="u.derma.model.WeixinUser" >
    insert into weixin_user (id, userid, lotterynumber)
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{lotterynumber,jdbcType=DECIMAL})
  </insert>
  
  <!-- 插入指定数据 -->
  <!-- 
  <insert id="insertSelective" parameterType="u.derma.model.WeixinUser" >
    insert into weixin_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="lotterynumber != null" >
        lotterynumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="lotterynumber != null" >
        #{age,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert> 
  -->
  <!-- 减少指定用户抽奖次数 -->
  <update id="minusLotteryNumber" parameterType="java.lang.String">
  	update weixin_user set lotterynumber = lotterynumber-1
	    where userid = #{userid,jdbcType=VARCHAR}
  </update>
  
  <!-- 增加指定用户抽奖次数 -->
  <update id="addLotteryNumber" parameterType="java.lang.String" >
    update weixin_user set lotterynumber = lotterynumber+1
	    where userid = #{userid,jdbcType=VARCHAR}
  </update>
  <!-- 
  <update id="updateByPrimaryKey" parameterType="rml.model.MUser" >
    update muser
    set NAME = #{name,jdbcType=VARCHAR},
      AGE = #{age,jdbcType=DECIMAL},
      ADDRESS = #{address,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update> 
  -->
  
  <select id="getAll" resultMap="WeixinUser">
	select id, userid, lotterynumber from weixin_user
  </select>
</mapper>